/* 
    Document   : demostyle
    Created on : 26/09/2013, 10:07:43 AM
    Author     : sebastianr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

header {
  height: 10%;
  width: 100%;
  background-color: #383735;
  font-family: arial black;
  color: #ffffff;
  text-align: center;
}

#menu {
  height: 85%;
  width: 10%;
  background-color: #9A9898;
  float: left;
  font-family: arial;
  color: #ffffff;
  font-size: small;
}

#opciones {
  height: 85%;
  width: 10%;
  background-color: dimgray;
  opacity: 0.2;
  position: absolute;
  z-index:2;
  margin-left: 10%;
}

#pestanas {
  height: 10%;
  width: 90%;
  background-color: #C34400;
  float: left;
  font-family: arial;
  color: #ffffff;
  font-size: medium;
}

#marco {
  height: 75%;
  width: 90%;
  background-color: #EEEEEE;
  float: left;
  color: #ffffff;
  font-size: medium;
}

footer {
  height: 5%;
  width: 100%;
  background-color: #383735;
  float: left;
}